In [1]:
import cassandra;
print (cassandra.__version__)

3.25.0

In [2]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('jRZBLjKdJIQCMpEkkdZSGCwq', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\DATA SCIENCE\\secure-connect-Ds.zip'

In [1]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()
session.execute("create keyspace Test with replication={'class': 'SimpleStrategy', 'replication_factor' : 1};")

Unauthorized: Error from server: code=2100 [Unauthorized] message="Missing correct permission on test."

In [2]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
qry= "create table students (studentID int,name text,age int,marks int,primary key(studentID));"
session.execute(qry)

In [3]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(1, 'Juhi',20, 200);")

In [9]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(2, 'ABC',23, 200);")

In [10]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(3, 'SAS',25, 200);")

In [11]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(4, 'SAS',25, 200);")

In [12]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(5, 'SD',26, 200);")

In [13]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(6, 'SXZD',26, 200);")

In [14]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(7, 'SXZD',26, 200);")

In [15]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(8, 'SXZD',26, 200);")

In [16]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(9, 'SXZD',26, 200);")

In [17]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(10, 'SXZD',26, 200);")

In [18]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(11, 'SXZD',26, 200);")

In [19]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(12, 'SXZD',26, 200);")

In [20]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(13, 'SXZD',26, 200);")

In [21]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(14, 'SXZD',26, 200);")

In [22]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
session.execute("insert into students (studentID, name, age, marks) values(15, 'SXZD',26, 200);")

In [23]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

StudentID: 5 Name:26 Age:200 Marks:SD
StudentID: 10 Name:26 Age:200 Marks:SXZD
StudentID: 13 Name:26 Age:200 Marks:SXZD
StudentID: 11 Name:26 Age:200 Marks:SXZD
StudentID: 1 Name:20 Age:200 Marks:Juhi
StudentID: 8 Name:26 Age:200 Marks:SXZD
StudentID: 2 Name:23 Age:200 Marks:ABC
StudentID: 4 Name:25 Age:200 Marks:SAS
StudentID: 15 Name:26 Age:200 Marks:SXZD
StudentID: 7 Name:26 Age:200 Marks:SXZD
StudentID: 6 Name:26 Age:200 Marks:SXZD
StudentID: 9 Name:26 Age:200 Marks:SXZD
StudentID: 14 Name:26 Age:200 Marks:SXZD
StudentID: 12 Name:26 Age:200 Marks:SXZD
StudentID: 3 Name:25 Age:200 Marks:SAS

In [24]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students WHERE StudentID = 5;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

StudentID: 5 Name:26 Age:200 Marks:SD

In [28]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

session.execute("update students set name='Updated Name', age=45,marks=500 where StudentID = 6;")
rows=session.execute("select * from students WHERE StudentID = 6;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

StudentID: 6 Name:45 Age:500 Marks:Updated Name

In [32]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

session.execute("delete from students WHERE StudentID = 7;")
rows=session.execute("select * from students WHERE StudentID = 7;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))
else:
    print('No data found')

No data found

In [34]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select count(*) from students;")
for row in rows:
    print(row)
    #print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

Row(count=14)

In [35]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select MIN(marks) from students;")
for row in rows:
    print(row)
    #print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

Row(system_min_marks=200)

In [36]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select MAX(marks) from students;")
for row in rows:
    print(row)
    #print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

Row(system_max_marks=500)

In [37]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select AVG(marks) from students;")
for row in rows:
    print(row)
    #print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

Row(system_avg_marks=221)

In [38]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select SUM(marks) from students;")
for row in rows:
    print(row)
    #print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

Row(system_sum_marks=3100)

In [51]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students where StudentId in (1,2,3,4,5);")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

StudentID: 1 Name:20 Age:200 Marks:Juhi
StudentID: 2 Name:23 Age:200 Marks:ABC
StudentID: 3 Name:25 Age:200 Marks:SAS
StudentID: 4 Name:25 Age:200 Marks:SAS
StudentID: 5 Name:26 Age:200 Marks:SD

In [57]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students where StudentId = 5 and name = 'SD' ALLOW FILTERING;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

StudentID: 5 Name:26 Age:200 Marks:SD

In [1]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students where StudentId = 5 or name = 'Juhi' ALLOW FILTERING;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:43 no viable alternative at input 'or' (...students where StudentId = 5 [or]...)">

In [2]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students limit 5 ALLOW FILTERING;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

StudentID: 5 Name:26 Age:200 Marks:SD
StudentID: 10 Name:26 Age:200 Marks:SXZD
StudentID: 13 Name:26 Age:200 Marks:SXZD
StudentID: 11 Name:26 Age:200 Marks:SXZD
StudentID: 1 Name:20 Age:200 Marks:Juhi

In [3]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students where name like 'd%' ALLOW FILTERING;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

InvalidRequest: Error from server: code=2200 [Invalid query] message="LIKE restriction is only supported on properly indexed columns. name LIKE 'd%' is not valid."

In [4]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students where name like '%j' ALLOW FILTERING;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

InvalidRequest: Error from server: code=2200 [Invalid query] message="LIKE restriction is only supported on properly indexed columns. name LIKE '%j' is not valid."

In [5]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students where name like '%d%' ALLOW FILTERING;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

InvalidRequest: Error from server: code=2200 [Invalid query] message="LIKE restriction is only supported on properly indexed columns. name LIKE '%d%' is not valid."

In [8]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students WHERE age>20 allow filtering;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

StudentID: 5 Name:26 Age:200 Marks:SD
StudentID: 10 Name:26 Age:200 Marks:SXZD
StudentID: 13 Name:26 Age:200 Marks:SXZD
StudentID: 11 Name:26 Age:200 Marks:SXZD
StudentID: 8 Name:26 Age:200 Marks:SXZD
StudentID: 2 Name:23 Age:200 Marks:ABC
StudentID: 4 Name:25 Age:200 Marks:SAS
StudentID: 15 Name:26 Age:200 Marks:SXZD
StudentID: 6 Name:45 Age:500 Marks:Updated Name
StudentID: 9 Name:26 Age:200 Marks:SXZD
StudentID: 14 Name:26 Age:200 Marks:SXZD
StudentID: 12 Name:26 Age:200 Marks:SXZD
StudentID: 3 Name:25 Age:200 Marks:SAS

In [9]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students where StudentId between 1 and 10 ALLOW FILTERING;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:39 no viable alternative at input 'between' (select * from students where [StudentId] between...)">

In [13]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students where StudentId NOT between 1 and 10 ALLOW FILTERING;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:39 no viable alternative at input 'NOT' (select * from students where [StudentId] NOT...)">

In [16]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select StudentId AS StudId,name AS StudentName,age,marks from students;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

StudentID: 5 Name:SD Age:26 Marks:200
StudentID: 10 Name:SXZD Age:26 Marks:200
StudentID: 13 Name:SXZD Age:26 Marks:200
StudentID: 11 Name:SXZD Age:26 Marks:200
StudentID: 1 Name:Juhi Age:20 Marks:200
StudentID: 8 Name:SXZD Age:26 Marks:200
StudentID: 2 Name:ABC Age:23 Marks:200
StudentID: 4 Name:SAS Age:25 Marks:200
StudentID: 15 Name:SXZD Age:26 Marks:200
StudentID: 6 Name:Updated Name Age:45 Marks:500
StudentID: 9 Name:SXZD Age:26 Marks:200
StudentID: 14 Name:SXZD Age:26 Marks:200
StudentID: 12 Name:SXZD Age:26 Marks:200
StudentID: 3 Name:SAS Age:25 Marks:200

In [17]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students where name contains 'j';")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

InvalidRequest: Error from server: code=2200 [Invalid query] message="Cannot use CONTAINS on non-collection column name"

In [19]:
studentlist=[(15,'Juhi',20,100), (16,'dilip',20, 110),(17,'jeevan',24,145)]

from cassandra.query import SimpleStatement, BatchStatement
batch=BatchStatement()
for student in studentlist:
   batch.add(SimpleStatement("INSERT INTO students (studentID, name, age, marks) VALUES(%s, %s, %s, %s)"), (student[0], student[1],student[2], student[3]))
session.execute(batch)

In [24]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')
qry= "create table students1 (studentID int,name text,age int,marks int,primary key((studentID,name),marks)) WITH CLUSTERING ORDER BY (marks DESC);"
session.execute(qry)

In [25]:
studentlist=[(15,'Juhi',20,100), (16,'dilip',20, 110),(17,'jeevan',24,145)]

from cassandra.query import SimpleStatement, BatchStatement
batch=BatchStatement()
for student in studentlist:
    batch.add(SimpleStatement("INSERT INTO students1 (studentID, name, age, marks) VALUES(%s, %s, %s, %s)"), (student[0], student[1],student[2], student[3]))
session.execute(batch)

In [31]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students1 where StudentId = 15 AND name = 'Juhi' ORDER BY marks ALLOW  filtering;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

StudentID: 15 Name:Juhi Age:100 Marks:20

In [34]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students1 where name contains '%j%' ALLOW FILTERING;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

InvalidRequest: Error from server: code=2200 [Invalid query] message="Cannot use CONTAINS on non-collection column name"

In [37]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students inner join students1 on students.StudentID = students1.StudentID;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:23 no viable alternative at input 'inner' (select * from [students] inner...)">

In [38]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students UNION select * from students1;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:23 no viable alternative at input 'UNION' (select * from [students] UNION...)">

In [39]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\DATA SCIENCE\secure-connect-Ds.zip'
}
auth_provider = PlainTextAuthProvider('hPJWFtqiTGBRlSpwxMbTAEkM', 'CuyYrjYZyIiYejnxQqDMN6Jaqf3lGNzNroEumAatfsRe,XR1ZS7_KUDCXZSizZxkyMSlPuT5-4ew+MW4KZyA4B.KYu8Pal_4-28s8OcJZiiF5x5zpKlbK02XaATigpXu')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect('Test')

rows=session.execute("select * from students UNION ALL select * from students1;")
for row in rows:
    #print(row)
    print ('StudentID: {} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:23 no viable alternative at input 'UNION' (select * from [students] UNION...)">